---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Acerca de mi">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Soy un full stack software developer de Colombia 🇨🇴.
      </p>
      <p>
        Como freelance, me he especializado en desarrollo de aplicaciones Android y web.
      </p>
    </div>

    <div class="text-sm font-light">
    <p>
      Dentro de los stack que utilizo se encuentran las siguientes tecnologías:
    </p>
    <h3>Backend</h3>
    <ul class="list-disc list-inside">
      <li>Laravel</li>
      <li>NodeJS</li>
      <li>.Net Core</li>
    </ul>
    <h3>Frontend</h3>
    <ul class="list-disc list-inside">
      <li>React</li>
      <li>Vue</li>
    </ul>

    <h3>Android</h3>
    <ul class="list-disc list-inside">
      <li>Kotlin</li>
      <li>Java</li>
    </ul>
    </div>
  </div>
</Card>
